/* *{
    margin: 0;
    padding: 0;
} */

body{
    /* background: linear-gradient(to right, #16BFFD, #CB3066); */
    background: linear-gradient(to right, #000000, #434343);
    color: white;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    /* background-color: #434343; */
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(249, 168, 168);
    font-size: 1.5rem;
}

.left{
    font-size: 1.8rem;
}

.intro{
    text-align: center;
    padding: 55px;
    font-size: 2rem;
}

.list{
    text-align: center;
    padding: 10px;
    margin-left: 200px;
    width: 85%;
}

#customers{
    border-collapse: collapse;
    width: 85%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: black;}

#customers tr:hover {background-color: #484646; font-size: 1.2rem;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: grey;
  color: white;
}

#element{
    color: rgb(194, 10, 194);
}

.txtSearch{
    margin-left: 700px;
    border-radius: 15px;
    border: 2px solid red;
}

footer {
    text-align: center;
    padding: 3px;
    /* background-color: rgb(38, 34, 32); */
    color: white;
}
